apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: kuard-replicaset
spec:
  replicas: 3 # Необходимое количества реплик
  selector:
    matchLabels:
      app: kuard # Селектор поиска (маппинга) объектов Pod для ReplicaSet
  template:
    metadata:
      labels:
        app: kuard # Метка Pod по которой ReplicaSet будет его искать
    spec:
      containers:
        - name: kuard
          image: jmutai/kuard-amd64:blue
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthy
              port: 8080
            initialDelaySeconds: 15
            timeoutSeconds: 2
            periodSeconds: 20
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 5
            timeoutSeconds: 1
            periodSeconds: 5
            failureThreshold: 3
            successThreshold: 1
